In [1]:
import pandas as pd
df = pd.read_csv("Titanic.csv")
df.head()

   Passengerid   Age     Fare  Sex  Pclass  2urvived
0            1  22.0   7.2500    0       3         0
1            2  38.0  71.2833    1       1         1
2            3  26.0   7.9250    1       3         1
3            4  35.0  53.1000    1       1         1
4            5  35.0   8.0500    0       3         0

In [2]:
inputs = df.drop('2urvived', axis = 'columns')
target = df['2urvived']

In [3]:
from sklearn import tree
model = tree.DecisionTreeClassifier()

In [4]:
model.fit(inputs, target)

DecisionTreeClassifier()

In [5]:
model.predict([[1,22.0,7.2500,0,3]])

c:\users\yogesh\appdata\local\programs\python\python38\lib\site-packages\sklearn\base.py:445: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([0], dtype=int64)

In [6]:
model.score(inputs,target)

1.0

In [7]:
from sklearn.model_selection import train_test_split
inputs_train, inputs_test, target_train, target_test = train_test_split(inputs,target,train_size=0.5)

In [8]:
model.fit(inputs_train, target_train)

DecisionTreeClassifier()

In [9]:
model.score(inputs_test, target_test)

0.8274809160305343

In [10]:
target_test

1206    0
619     0
183     1
959     0
99      0
       ..
510     1
709     1
825     0
939     0
761     0
Name: 2urvived, Length: 655, dtype: int64

In [11]:
inputs_test

      Passengerid   Age     Fare  Sex  Pclass
1206         1207  17.0   7.7333    1       3
619           620  26.0  10.5000    0       2
183           184   1.0  39.0000    0       2
959           960  31.0  28.5375    0       1
99            100  34.0  26.0000    0       2
...           ...   ...      ...  ...     ...
510           511  29.0   7.7500    0       3
709           710  28.0  15.2458    0       3
825           826  28.0   6.9500    0       3
939           940  60.0  76.2917    1       1
761           762  41.0   7.1250    0       3

[655 rows x 5 columns]

In [12]:
model.predict([[415,44.0,7.9250,0,3]])

c:\users\yogesh\appdata\local\programs\python\python38\lib\site-packages\sklearn\base.py:445: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([1], dtype=int64)

In [14]:
inputs_train

      Passengerid   Age      Fare  Sex  Pclass
307           308  17.0  108.9000    1       1
596           597  28.0   33.0000    1       2
318           319  31.0  164.8667    1       1
1124         1125  28.0    7.8792    0       3
1308         1309  28.0   22.3583    0       3
...           ...   ...       ...  ...     ...
157           158  30.0    8.0500    0       3
461           462  34.0    8.0500    0       3
1042         1043  28.0    7.8958    0       3
288           289  42.0   13.0000    0       2
575           576  19.0   14.5000    0       3

[654 rows x 5 columns]